<div class = "col">
  <div class="row">
      <h3 class="text-center my-3">Search for Weather:</h3>
      <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToWeatherService(weatherSearchForm.value)">
        <div class="form-group">
          <input
          class="form-control"
          type="text"
          id="weatherLocation"
          aria-describedby="weatherLocation"
          placeholder="Please write a Location"
          formControlName="location"
        />
        </div>
        <div class="text-center">
          <br>
          <button type="submit" class="btn btn-primary btn-rounded" action>
            Search now
          </button>
        
        </div>
      </form>
    </div>
    <div class="row">
      <h3 class="text-center my-3">Weather information:</h3>
      
        <p class="text-details">
           City Name: {{this.weatherData.name}}
        </p>
        
  
        
    </div>
  </div>



